body{
    background-color: rgb(80, 3, 151);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form.form{
 align-items: center;
 margin: 300px;
 background-color: #e7e77d;
 border-radius: 200px;
 padding: 100px;
}

#b{
    padding: 15px;
    align-items: center;
}

