body{
    background-image: url('img/Brasileiro.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.soccer{
   background-color: green;
   border-radius: 22px;
}